<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Pins</h1>

  <% @pins.each do |pin| %>
  <div class="col-md-3">
    <div class="thumbnail">
      <%= pin.name %>
      <%= image_tag (pin.photo), class:"img-responsive" %>
      <%= pin.description %>
      <div class="buttons">
        <%= link_to 'Show', pin, class:"btn btn-default" %>
        <%= link_to 'Edit', edit_pin_path(pin), class:"btn btn-default" %>
        <% if user_signed_in? %>
        <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-default" %>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
  

  <br>
  

</div>
  <% if user_signed_in? %>
  <%= link_to 'New Pin', new_pin_path, class:"btn btn-default" %>
  <% end %>