<div class="container">
<div class="grid">
  <p id="notice"><%= notice %></p>

  <h1>Pins</h1>

  <% @pins.each do |pin| %>
  <div class="grid-item" style="width:200px">
    <div class="thumbnail">
      <%= pin.name %>
      <%= image_tag (pin.photo), class:"img-responsive" %>
      <%= pin.description %>
      <div class="buttons">
        <%= link_to 'Show', pin, class:"btn btn-primary btn-sm" %>
        <%= link_to 'Edit', edit_pin_path(pin), class:"btn btn-primary btn-sm" %>
        <% if user_signed_in? %>
        <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary btn-sm" %>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
  

  <br>
  

</div>
</div>
  <script>
  $('.grid').masonry({
  // options
  itemSelector: '.grid-item',
  columnWidth: 200
  });
  
    $(window).on('load', function(){
    $('.grid').masonry({
  // options
  itemSelector: '.grid-item',
  columnWidth: 200
  });
})
  </script>