<div class="bold-line"></div>
<div class="container">
  <div class="window">
    <div class="overlay"></div>
    <div class="content">
      <div class="welcome">Bienvenidos!</div>
      <div class="subtitle">Antes de usar nuestros servicios, debes registrarte.</div>
      <form action="<%= user_session_path %>" method="POST">
        <div class="input-fields">
          <input type="hidden" value="<%= form_authenticity_token %>" name ="authenticity_token">
          <input id="user_email" name="user[email]" type='email' placeholder='Email' class='input-line full-width'></input>
          <input type='password' name="user[password]" placeholder='Password' class='input-line full-width'></input>

        </div>
        <div class='spacing'>or continue with <span class='highlight'>Facebook</span>
        </div>
        <div><button  class='actions ghost-round full-width'>Create Account</button>
        </div>
      </form>
<!--
<div class="container fluid">
  <div class="well">
    <div class="row">
      <h2 class="signtext">Inicia sesión</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="col-md-8 col-md-offset-2">


        <div class="field txt">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, class:"form-control" %>
        </div>
        
        <div class="field txt">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
        </div>

        <% if devise_mapping.rememberable? -%>
        <div class="field txt">
          <%= f.label :remember_me %>
          <%= f.check_box :remember_me %>
        </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Log in", class:"btn btn-primary"%>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
-->


